/* =========================================
   BOTON COMPARTIR
========================================= */
.btn-share {
    position: fixed;
    bottom: 90px; /* Un poco arriba del botón "Back to top" */
    right: 30px;
    background: var(--surface-color);
    color: var(--primary-color);
    border: var(--border-glass);
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 99;
    transition: var(--transition);
    backdrop-filter: blur(10px);
     border: 1px solid var(--primary-color); 
}

.btn-share:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
     border: 1px solid var(--primary-color); 
}

/* Estilos para el modal de compartir */
.share-modal-content {
    background: var(--surface-color);
    padding: 2rem;
    border-radius: var(--border-radius-lg);
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column; /* Siempre vertical */
    align-items: center;
    margin: auto;
}

/* Para que la imagen no se deforme */
.share-modal-content img {
    max-width: 200px;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
}


.btn-share-product {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: var(--transition);
}

.btn-share-product:hover {
    background: var(--primary-color);
    color: white;
}

/* =========================================
   BOTON VOLVER ARRIBA
========================================= */
.back-to-top { 
    position: fixed; bottom: 30px; right: 30px; background: var(--surface-color); 
    color: var(--primary-color); border: 1px solid var(--primary-color); width: 50px; height: 50px; 
    border-radius: 50%; font-size: 1.2rem; cursor: pointer; box-shadow: var(--shadow-glass); 
    z-index: 98; transition: var(--transition); opacity: 0; pointer-events: none; 
}
.back-to-top:hover { background: var(--primary-color); color: white; border-color: var(--primary-color);}
.back-to-top.visible { opacity: 1; pointer-events: all; }
